.contenedor-sesion-recordatorio {
    display: flex;

    & main {
        background: #F8F9FD;
        background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
        width: 85%;

        & h1 {
            color: black;
            text-align: right;
            padding-right: 10px;
        }
    }
}

.contenedor-main {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 100vh;
    margin-left: 50px;
    border-top-left-radius: 25px;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../../assets/fondo-medicamento-removebg-preview.png');
        filter: blur(4px);
        z-index: -1;
    }
}
